.btn__comp {
  border-radius: 6px;
  /* width: 35%; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  cursor: pointer;
  /* height: 50px; */
  color: black;
  background: #fff;
  border-color: #000;
  margin-top: 1rem;
  font-size: 16px;
  letter-spacing: 0.4px;
  transition: 0.5s;
  text-align: center;
  padding: 7px 10px;
  font-weight: 500;
}
