.contact__container {
  background-color: #191c26;
  padding: 50px 3rem;
  color: white;
  @media screen and (max-width: 600px) {
    padding: 3rem 1.5rem;
  }

  .loading {
    height: 30px !important;
    width: 30px !important;
  }
  .heading {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 25px;
    line-height: 1;
  }
  .para {
    max-width: 600px;
    color: rgba(255, 255, 255, 0.486);
    margin-bottom: 3rem;
    font-size: 18px;
    line-height: 30px;
  }
  .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 1080px) {
      flex-direction: column;
    }
    .left {
      width: 45%;
      @media screen and (max-width: 1080px) {
        width: 100%;
      }

      .phone {
        background-color: #111319;
        padding: 33px 35px 41px;
        border-radius: 6px;
        display: flex;
        margin-bottom: 3rem;
        @media screen and (max-width: 500px) {
          margin-bottom: 2rem;
        }

        .img {
          margin-right: 15px;
          width: 55px;
          height: 55px;
          background: #34495e;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .right__text {
          .text {
            margin-left: 5px;
            margin-bottom: 5px;
            font-weight: 700;
          }
          .number {
            color: rgba(255, 255, 255, 0.411);
            @media screen and (max-width: 500px) {
              max-width: 180px;
            }
          }
        }
      }
    }
    .right {
      background-color: #111319;
      transition-delay: 0.3s;
      width: 45%;
      padding: 3.5rem 2rem;
      border-radius: 6px;
      @media screen and (max-width: 1080px) {
        width: 93.3%;
      }
      @media screen and (max-width: 700px) {
        width: 89.3%;
      }
      @media screen and (max-width: 500px) {
        width: 86.3%;
        padding: 2rem 2rem;
      }
      @media screen and (max-width: 400px) {
        width: 81.3%;
      }
      @media screen and (max-width: 360px) {
        width: 79.3%;
      }
      .heading {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #a9afc3;
        span {
          font-weight: 600;
          font-size: 25px;
          color: white;
        }
      }
      .form {
        .name {
          width: 100%;
          margin-bottom: 35px;
          position: relative;
          .name__input {
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 1px solid #cbd3d9;
            background-color: transparent;
            font-size: 16px;
            color: #7e7e7e;
            font-weight: 500;
            font-family: "Poppins";
            padding-left: 0 !important;
            outline: none;
          }
          .error {
            color: red;
            font-size: 12px;
            position: absolute;
            bottom: -18px;
          }
        }
      }
      .btn {
        border-radius: 6px;
        height: 54px;
        background: #fff;
        text-decoration: none;
        color: #1a1a1a;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: 500;
        width: 150px;
        font-size: 18px;
        display: inline-block;
        border-radius: 6px;
        border: 2px solid #7e7e7e;
        transition: all 0.3s ease;
      }
    }
  }
}
