
    .burger {
      color: white;
    //   padding: 4px 4px;
    //   background-color: rgba(0, 41, 121, 1);
      height: 55px;
      width: 55px;
      position: fixed;
      z-index: 300;
      bottom: 10px;
    //   font-size: 30px;
    margin: auto;
    border-radius: 50px;
    background-color: white;
    color: black;
      right: 15px;
      bottom: 20px;
}
.iconss{
    height: 55px !important;
    width: 44px !important;
    margin-left: 5px !important;

}